<!DOCTYPE html>
<html lang="en">
<body>
    <nav class="row" style="background: #337ab7; color: white;">
      <h1>Student Record</h1>
    </nav>
    <br />
    <br />
    <center class="row">
      <form method="post">
        <div class="input-group">
          <input type="text" name="name" placeholder="Name">
          <input type="int" name="id" placeholder="Student Id">
          <input type="text" name="email" placeholder="Email">
          <input type="text" name="password" placeholder="Password">
          <input type="date" name="enrollment" placeholder="Enrollment Date">
            <button type="submit">
                Enter New Student Record
            </button>
      <form>
    </center>
  </body>
</html>